.loginNavbar {
  background: #162b48;
}

html,
body,
#loginCard > div {
  background: #0095c4 !important;
  height: 100%;
}

html,
body,
#loginContainer > div {
  background: #0095c4 !important;
  height: 100%;
}

body {
  font-family: "Teko", sans-serif !important;
}